.nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 2rem 1rem;
    z-index: 10;
    top: 0;
    left: 0;
}

.brandLogo img{
    height: 36px;
}

.container{
    background: #000000;
    color:var(--nx-color-white);
    position: relative;
    padding: 0.5rem;
    /* sheight: 100vh; */
    width: 100%;
}

.login{
    position: relative;
    margin: 7rem auto 5rem auto;
    max-width: 420px;
    z-index: 5;
}

.login .container,
.loginForm{
    background: rgba(0, 0, 0, .7);
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    z-index: 5;
}

.login .container::before{
    display: none;
}

.loginForm {
    margin: 1.5rem 0 0 0;
}
.loginForm button{
    margin: 1.5rem 0 0 0;
}

.loginSettings{
    --nx-color-dark: #737373;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: .85rem;
    color: var(--nx-color-dark);
}

.checkboxContainer{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.checkbox{
    background: blue;
    border: 4px solid green;
    /* -moz-appearance:none; */
	/* -webkit-appearance:none; */
	/* -o-appearance:none; */
	/* outline: none; */
	/* content: ""; */
}

.info{
    --nx-color-dark: #737373;
    color: var(--nx-color-dark);
}

@media only screen and (min-width:768px){
    .container{
        position: relative;
        background: url('/images/hero-img.jpeg');  
    }

    .container::before{
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0,.65);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .login{
        max-width: 450px;
        border-radius: .35rem;
        overflow: hidden;
        margin-top: 6rem;
    }

    .login .container{
        padding: 4rem 5rem;
        max-height: 650px;
    }
}