
/* Input field */
.nx-input{
    position: relative;
    width: 100%;
}
.nx-input label{
    width: 100%;
}
.nx-input input{
    width: 100%;
    height: 48px;
    color: #000;
    padding: 5px 0 0 10px;
    border-radius: 0.15rem;
    outline: 0px;
}

.nx-input input + label{
    --nx-color-dark: #8C8C8C;
    position: absolute;
    left: 10px;
    top: 30%;
    font-size: 0.85rem;
    color: var(--nx-color-dark);
}
.nx-input input::placeholder{
    visibility: hidden;
    /* display: hidden; */
    opacity: 0;
}
.nx-input input:focus + label, 
.nx-input input:not(:placeholder-shown) + label{
    --nx-color-dark: #8C8C8C;
    position: absolute;
    left: 10px;
    top: 5%;
    font-size: 0.75rem;
    color: var(--nx-color-dark);
}
