
.nx-btn {
    /* display: inline-flex; */
    outline: hidden;
    padding: 0 1rem;
    border-radius: 0.15rem;
    font-weight: 300;
}

.nx-btn--sm{
    height: 32px;
    font-size: 0.85rem;
    padding: 0 0.75rem;
    font-weight: 400;
}

.nx-btn--md{
    height: 40px;
}

.nx-btn--red{
    background-color: var(--nx-color-red);
}
