.spacer > * {
    width: 100%;
}

.xxs{
    height: .25rem;
}
.xs{
    height: .5rem;
}
.ss{
    height: .75rem;
}
.sm{
    height: 1rem;
}

.md{
    height: 1.5rem;
}

.lg{
    height: 2rem;
}

.xl{
    height: 2.5rem;
}

.xxl{
    height: 4rem;
}