@import './variables.css';


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  list-style: none;
}

.nx-brand{
  font-size: 1.5rem;
  color: var(--nx-color-red);
  text-transform: uppercase;
}

h1{
  font-size: var(--nx-h1);
  font-weight: 500;
  line-height: 1;
}

h2{
  font-size: var(--nx-h2);
  font-weight: 400;
  margin: 1rem 0;
}

h3{
  font-size: var(--nx-h3);
}