:root{
    /* Colors */
    --nx-color-red: #e50914;
    --nx-color-white: #fff;
    --nx-color-dark: #333;
    --nx-bg-dark: #000;
    --nx-color-blue: #0071EB;

    /* Font sizes */
    --nx-h1: 1.75rem;
    --nx-h2: 1.15rem;
    --nx-h3: 1.1rem;
}