.container{
    margin: 0 auto;
    z-index: 10;
    gap: 1rem;
    width: 100%;
    max-width: 650px;
}

.form{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.formTitle{
    width: 100%;
    text-align: center;
    margin: 0 0 1rem 0;
}

.formInput{
   flex: 1 1 390px;
}

@media only screen and (min-width:768px){
    
}

@media only screen and (min-width: 1024px){
    .form{
        gap: 0;
    }
    .jumboButton, 
    .jumboInput input{
        height: 60px !important;
        border-radius: unset !important;
        font-size: 1.75rem !important;
    }

    .jumboButton {
        margin: 0 0 0 .15rem
    }
}