.nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 1rem;
    z-index: 10;
}

.nx-bottom-space{
    margin-bottom: 0.5rem;
}

/* Feature nx service */
.service{
    --nx-color-dark: #000;
    display: flex;
    flex-flow: column;
    position: relative;
    padding: 3rem 1rem;
    color: var(--nx-color-white);
    background-color: var(--nx-color-dark);
    margin-bottom: 0.5rem;
    text-align: center;
    min-height: 480px;
}

.serviceTitle{
    
}

.serviceTv{
    position: relative;
}

.serviceTv img{
   max-width: 530px;
   width: 100%;
   margin: auto;
}

.serviceTv video {
    position: absolute;
    top: 48%;
    left: 50%;
    max-width: 387px;
    width: 72%;
    z-index: 0;
    transform: translate(-50%,-50%);
}

.serviceMobile,.serviceMac,.serviceKids img{
    margin: 0 auto;
}

/* Floating card */
.floatingCard{
    display: flex;
    height: 64px;
    border-radius: .7rem;
    border: 2px solid rgb(255, 255, 255, .25);
    padding: 0.25rem 0;
    max-width: 280px;
    margin: 0 auto;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--nx-color-dark);
}

.floatingCardText{
    display: flex;
    flex-flow: column;
    text-align: start;
    justify-content:  center;
    padding: 0.15rem 0 0.25rem 0;
}

.floatingCardImg{
    margin: 0 .75rem 0 .75rem;
}

.floatingCardText span:nth-child(1){
    font-size: 0.85rem;
}

.floatingCardText span:nth-child(2){
    font-size: 0.75rem;
    color: var(--nx-color-blue);
}

.floatingCardIconAnimation{
    background: url("/images/icon-animation.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    margin: 0 1rem 0 auto;
}

/* FAQ */
.faq{
    --nx-color-dark: #000;
    display: flex;
    flex-flow:column ;
    padding: 3rem 0;
    background-color: var(--nx-color-dark);
    color: var(--nx-color-white);
    margin-bottom: 0.5rem;
}

.faqTitle{
    padding: .5rem 0;
    text-align: center;
}

.faqQuestions{
    padding: 0 0rem;
    margin: 1.5rem 0;;
}

.faqQuestionsContainer{
    display: flex;
    flex-flow: column;
    gap:0.5rem;
}

@media only screen and (min-width: 768px){
    .FloatingCard{
        max-width: 380px;
        height: 80px;
        bottom: 5rem; 
        padding: 0.25rem 0;
    }

    .floatingCardImg{
        margin: 0 1rem 0 .75rem !important;
    }
}


@media only screen and (min-width: 1024px){
  .service{
     flex-flow: row wrap;
     align-items: center;
     align-content: center;
     text-align: left;
  }

  .serviceTitle{
      width: 50%;
  }

  .FloatingCard{
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--nx-color-dark);
}

  .serviceMobile,
  .serviceTv,
  .serviceMac,
  .serviceKids{
    width: 48%;
    margin: 0;    
  }
}