.details .collapse .minus{
    display: none;
}

.details[open] .collapse .minus{
    display: block;
}

.details[open] .collapse .plus{
    display: none;    
}

.collapse{
    --nx-color-dark: #333;
    display: flex;
    width: 100%;
    flex-flow: row;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nx-color-dark);
    padding: 0 1.25rem;
    font-size: 1.15rem;
    outline: none;
}

.collapseInfo{
    --nx-color-dark: #333;
    background-color: var(--nx-color-dark);
    padding: 2rem 1.25rem;
    margin-top: 0.05rem;
}