.footer{
    background-color: #000;
    color: var(--nx-color-dark);
}

.container{
    max-width: 950px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
    font-size: .85rem;
    margin-top: 1.5rem;
}

.listItem{
    flex: 1 1 45%;
    padding: 0 0 .75rem 0;
    margin: 0 0.7rem 0 0;
    font-size: .8125rem;
}

@media only screen and (min-width:768px){
    .listItem{
        flex-basis: 23.3%;
        max-width: 23.3%;
    }
}